In [43]:
import pandas as pd # Library for data handling
import numpy as np # matrix operations
import geopandas as gpd
import matplotlib.pyplot as plt
import seaborn as sb
#!pip install branca
#!pip install folium
#!pip install mapclassify

In [44]:
df = pd.read_csv('https://raw.githubusercontent.com/faisalapp/Palette_Training_5/main/rm_crop_yields_1938_2021.csv')

In [45]:
df.head() # checking

,Year,RM,Winter Wheat,Canola,Spring Wheat,Mustard,Durum,Sunflowers,Oats,Lentils,Peas,Barley,Fall Rye,Canary Seed,Spring Rye,Tame Hay,Flax,Chickpeas
0,1938,1,NaN,NaN,4.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0.0,NaN
1,1939,1,NaN,NaN,9.0,NaN,NaN,NaN,16.0,NaN,NaN,16.0,NaN,NaN,NaN,NaN,0.0,NaN
2,1940,1,NaN,NaN,12.0,NaN,NaN,NaN,23.0,NaN,NaN,19.0,NaN,NaN,NaN,NaN,8.0,NaN
3,1941,1,NaN,NaN,18.0,NaN,NaN,NaN,32.0,NaN,NaN,28.0,NaN,NaN,NaN,NaN,5.0,NaN
4,1942,1,NaN,NaN,20.0,NaN,NaN,NaN,35.0,NaN,NaN,28.0,14.0,NaN,NaN,NaN,5.0,NaN

In [46]:
df.tail() # checking

,Year,RM,Winter Wheat,Canola,Spring Wheat,Mustard,Durum,Sunflowers,Oats,Lentils,Peas,Barley,Fall Rye,Canary Seed,Spring Rye,Tame Hay,Flax,Chickpeas
25012,2017,622,NaN,43.06,59.49,NaN,NaN,NaN,93.01,NaN,43.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25013,2018,622,NaN,39.30,59.50,NaN,NaN,NaN,96.40,NaN,43.0,54.0,NaN,NaN,NaN,NaN,NaN,NaN
25014,2019,622,NaN,46.10,63.90,NaN,NaN,NaN,106.00,NaN,33.7,73.9,NaN,NaN,NaN,NaN,NaN,NaN
25015,2020,622,NaN,40.90,55.10,NaN,NaN,NaN,94.50,NaN,49.2,74.3,NaN,NaN,NaN,NaN,NaN,NaN
25016,2021,622,NaN,23.90,17.00,NaN,NaN,NaN,25.80,NaN,NaN,23.3,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25017 entries, 0 to 25016
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          25017 non-null  int64
 1   RM            25017 non-null  int64
 2   Winter Wheat  3037 non-null   float64
 3   Canola        14008 non-null  float64
 4   Spring Wheat  24924 non-null  float64
 5   Mustard       4487 non-null   float64
 6   Durum         11581 non-null  float64
 7   Sunflowers    946 non-null    float64
 8   Oats          23913 non-null  float64
 9   Lentils       5515 non-null   float64
 10  Peas          8134 non-null   float64
 11  Barley        24703 non-null  float64
 12  Fall Rye      15847 non-null  float64
 13  Canary Seed   3819 non-null   float64
 14  Spring Rye    805 non-null    float64
 15  Tame Hay      4205 non-null   float64
 16  Flax          20934 non-null  float64
 17  Chickpeas     960 non-null    float64
dtypes: float64(16), int64(2)
memory usage: 3.4 MB

In [48]:
df.isna()

,Year,RM,Winter Wheat,Canola,Spring Wheat,Mustard,Durum,Sunflowers,Oats,Lentils,Peas,Barley,Fall Rye,Canary Seed,Spring Rye,Tame Hay,Flax,Chickpeas
0,False,False,True,True,False,True,True,True,False,True,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,True,True,False,True,True,False,True,True,True,True,False,True
2,False,False,True,True,False,True,True,True,False,True,True,False,True,True,True,True,False,True
3,False,False,True,True,False,True,True,True,False,True,True,False,True,True,True,True,False,True
4,False,False,True,True,False,True,True,True,False,True,True,False,False,True,True,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25012,False,False,True,False,False,True,True,True,False,True,False,True,True,True,True,True,True,True
25013,False,False,True,False,False,True,True,True,False,True,False,False,True,True,True,True,True,True
25014,False,False,True,False,False,True,True,True,False,True,False,False,True,True,True,True,True,True
25015,False,False,True,False,False,True,True,True,False,True,False,False,True,True,True,True,True,True
25016,False,False,True,False,False,True,True,True,False,True,True,False,True,True,True,True,True,True

In [49]:
df.isna().sum()

Year                0
RM                  0
Winter Wheat    21980
Canola          11009
Spring Wheat       93
Mustard         20530
Durum           13436
Sunflowers      24071
Oats             1104
Lentils         19502
Peas            16883
Barley            314
Fall Rye         9170
Canary Seed     21198
Spring Rye      24212
Tame Hay        20812
Flax             4083
Chickpeas       24057
dtype: int64

In [50]:
df.duplicated().sum()

0

In [51]:
#df.groupby('RM').mean()
#df['value'] = df['value'].fillna(df.groupby('name')['value'].transform('mean'))

#df.fillna(df.groupby('RM',as_index=False).mean())
df_new = df.groupby('RM').apply(lambda df:df.fillna(df.mean()))

In [52]:
df_new.head(60)

,Year,RM,Winter Wheat,Canola,Spring Wheat,Mustard,Durum,Sunflowers,Oats,Lentils,Peas,Barley,Fall Rye,Canary Seed,Spring Rye,Tame Hay,Flax,Chickpeas
0,1938,1,42.945217,21.947115,4.0,758.895,23.922286,1170.557895,1.0,902.666667,32.5,1.0,27.195789,964.0,0.0,1.268571,0.000000,NaN
1,1939,1,42.945217,21.947115,9.0,758.895,23.922286,1170.557895,16.0,902.666667,32.5,16.0,27.195789,964.0,0.0,1.268571,0.000000,NaN
2,1940,1,42.945217,21.947115,12.0,758.895,23.922286,1170.557895,23.0,902.666667,32.5,19.0,27.195789,964.0,0.0,1.268571,8.000000,NaN
3,1941,1,42.945217,21.947115,18.0,758.895,23.922286,1170.557895,32.0,902.666667,32.5,28.0,27.195789,964.0,0.0,1.268571,5.000000,NaN
4,1942,1,42.945217,21.947115,20.0,758.895,23.922286,1170.557895,35.0,902.666667,32.5,28.0,14.000000,964.0,0.0,1.268571,5.000000,NaN
5,1943,1,42.945217,21.947115,21.0,758.895,23.922286,1170.557895,34.0,902.666667,32.5,15.0,12.000000,964.0,0.0,1.268571,7.000000,NaN
6,1944,1,42.945217,21.947115,20.0,758.895,23.922286,1170.557895,34.0,902.666667,32.5,22.0,8.000000,964.0,0.0,1.268571,8.000000,NaN
7,1945,1,42.945217,21.947115,16.0,758.895,23.922286,1170.557895,31.0,902.666667,32.5,22.0,11.000000,964.0,0.0,1.268571,9.000000,NaN
8,1946,1,42.945217,21.947115,13.0,758.895,23.922286,1170.557895,22.0,902.666667,32.5,16.0,23.000000,964.0,0.0,1.268571,4.000000,NaN
9,1947,1,42.945217,21.947115,15.0,758.895,23.922286,1170.557895,21.0,902.666667,32.5,13.0,9.000000,964.0,0.0,1.268571,7.000000,NaN
10,1948,1,42.945217,21.947115,16.0,758.895,23.922286,1170.557895,20.0,902.666667,32.5,13.0,15.000000,964.0,0.0,1.268571,6.000000,NaN
11,1949,1,42.945217,21.947115,18.0,758.895,23.922286,1170.557895,25.0,902.666667,32.5,15.0,14.000000,964.0,0.0,1.268571,7.000000,NaN
12,1950,1,42.945217,21.947115,18.0,758.895,23.922286,1170.557895,44.0,902.666667,32.5,34.0,13.000000,964.0,0.0,1.268571,10.000000,NaN
13,1951,1,42.945217,21.947115,13.0,758.895,23.922286,1170.557895,24.0,902.666667,32.5,22.0,15.000000,964.0,0.0,1.268571,7.000000,NaN
14,1952,1,42.945217,21.947115,13.0,758.895,23.922286,1170.557895,21.0,902.666667,32.5,20.0,13.000000,964.0,0.0,1.268571,8.000000,NaN
15,1953,1,42.945217,21.947115,20.0,758.895,23.922286,1170.557895,32.0,902.666667,32.5,24.0,22.000000,964.0,0.0,1.268571,8.000000,NaN
16,1954,1,42.945217,21.947115,8.0,758.895,23.922286,1170.557895,12.0,902.666667,32.5,13.0,12.000000,964.0,0.0,1.268571,8.000000,NaN
17,1955,1,42.945217,21.947115,19.0,758.895,23.922286,1170.557895,30.0,902.666667,32.5,21.0,26.000000,964.0,0.0,1.268571,8.000000,NaN
18,1956,1,42.945217,21.947115,22.0,758.895,23.922286,1170.557895,37.0,902.666667,32.5,30.0,12.000000,964.0,0.0,1.268571,8.000000,NaN
19,1957,1,42.945217,21.947115,13.0,758.895,23.922286,1170.557895,23.0,902.666667,32.5,17.0,17.000000,964.0,0.0,1.268571,2.000000,NaN
20,1958,1,42.945217,21.947115,12.0,758.895,23.922286,1170.557895,18.0,902.666667,32.5,16.0,13.000000,964.0,0.0,1.268571,3.000000,NaN
21,1959,1,42.945217,21.947115,15.0,758.895,23.922286,1170.557895,27.0,902.666667,32.5,21.0,17.000000,964.0,0.0,1.268571,3.000000,NaN
22,1960,1,42.945217,21.947115,21.0,758.895,23.922286,1170.557895,28.0,902.666667,32.5,26.0,27.000000,964.0,0.0,1.268571,6.000000,NaN
23,1961,1,42.945217,21.947115,2.0,758.895,23.922286,1170.557895,0.0,902.666667,32.5,0.0,2.000000,964.0,0.0,1.268571,1.000000,NaN
24,1962,1,42.945217,21.947115,30.0,758.895,23.922286,1170.557895,49.0,902.666667,32.5,36.0,35.000000,964.0,0.0,1.268571,10.000000,NaN
25,1963,1,42.945217,21.947115,20.0,758.895,23.922286,1170.557895,35.0,902.666667,32.5,27.0,20.000000,964.0,0.0,1.268571,10.000000,NaN
26,1964,1,42.945217,21.947115,23.0,758.895,23.922286,1170.557895,47.0,902.666667,32.5,29.0,24.000000,964.0,0.0,1.268571,12.383625,NaN
27,1965,1,42.945217,21.947115,24.0,758.895,23.922286,1170.557895,51.0,902.666667,32.5,33.0,22.000000,964.0,0.0,1.268571,12.000000,NaN
28,1966,1,42.945217,21.947115,23.0,758.895,23.922286,1170.557895,43.0,902.666667,32.5,33.0,24.000000,964.0,0.0,1.268571,10.000000,NaN
29,1967,1,42.945217,21.947115,11.0,758.895,23.922286,1170.557895,21.0,902.666667,32.5,15.0,16.000000,964.0,0.0,1.268571,4.000000,NaN
30,1968,1,42.945217,21.947115,18.0,758.895,23.922286,1170.557895,33.0,902.666667,32.5,25.0,15.000000,964.0,0.0,1.268571,8.000000,NaN
31,1969,1,42.945217,21.947115,30.0,758.895,23.922286,1170.557895,56.0,902.666667,32.5,45.0,18.000000,964.0,0.0,1.268571,12.000000,NaN
32,1970,1,42.945217,18.000000,18.0,758.895,18.000000,1170.557895,42.0,902.666667,32.5,34.0,20.000000,964.0,0.0,1.268571,14.000000,NaN
33,1971,1,42.945217,18.000000,27.0,758.895,25.000000,1170.557895,53.0,902.666667,32.5,44.0,22.000000,964.0,0.0,1.268571,11.000000,NaN
34,1972,1,42.945217,18.000000,17.0,758.895,19.000000,1170.557895,50.0,902.666667,32.5,34.0,21.000000,964.0,0.0,1.268571,13.000000,NaN
35,1973,1,42.945217,20.000000,26.0,758.895,23.000000,1170.557895,65.0,902.666667,32.5,49.0,23.000000,964.0,0.0,1.268571,12.000000,NaN
36,1974,1,42.945217,16.000000,22.0,758.895,22.000000,1170.557895,39.0,902.666667,32.5,34.0,22.000000,964.0,0.0,1.268571,10.000000,NaN
37,1975,1,42.945217,15.000000,23.0,758.895,23.000000,1170.557895,45.0,902.666667,32.5,34.0,19.000000,964.0,0.0,1.268571,10.000000,NaN
38,1976,1,42.945217,17.000000,21.0,758.895,24.000000,1170.557895,53.0,902.666667,32.5,47.0,32.000000,964.0,0.0,1.268571,14.000000,NaN
39,1977,1,42.945217,17.000000,23.0,758.895,23.000000,1170.557895,56.0,902.666667,32.5,43.0,34.000000,964.0,0.0,1.268571,11.000000,NaN
40,1978,1,42.945217,17.000000,27.0,758.895,28.000000,1170.557895,51.0,902.666667,32.5,46.0,37.000000,964.0,0.0,1.268571,11.000000,NaN
41,1979,1,42.945217,14.000000,19.0,758.895,18.000000,1170.557895,32.0,902.666667,32.5,22.0,26.000000,964.0,0.0,1.268571,9.000000,NaN
42,1980,1,42.945217,6.000000,10.0,758.895,10.000000,1170.557895,20.0,902.666667,32.5,25.0,14.000000,964.0,0.0,1.268571,8.000000,NaN
43,1981,1,42.945217,17.000000,22.0,758.895,20.000000,1170.557895,32.0,902.666667,32.5,24.0,34.000000,964.0,0.0,1.268571,7.000000,NaN
44,1982,1,42.945217,18.000000,27.0,758.895,25.000000,1170.557895,47.0,902.666667,32.5,40.0,34.000000,964.0,0.0,1.268571,14.000000,NaN
45,1983,1,42.945217,17.700000,21.2,758.895,21.100000,1170.557895,41.8,902.666667,32.5,34.5,29.700000,964.0,0.0,1.268571,12.300000,NaN
46,1984,1,42.945217,11.100000,22.4,758.895,17.700000,1170.557895,30.7,902.666667,32.5,28.4,33.000000,964.0,0.0,1.920000,9.500000,NaN
47,1985,1,42.945217,19.400000,26.9,758.895,25.100000,1170.557895,48.0,902.666667,32.5,48.1,24.700000,964.0,0.0,1.500000,11.800000,NaN
48,1986,1,42.945217,21.000000,29.0,758.895,25.800000,1170.557895,65.0,902.666667,32.5,57.0,26.000000,964.0,0.0,2.330000,18.100000,NaN
49,1987,1,42.945217,20.200000,24.5,758.895,25.100000,1170.557895,53.4,902.666667,32.5,43.9,29.500000,964.0,0.0,1.500000,16.900000,NaN
50,1988,1,42.945217,13.000000,9.4,758.895,8.200000,1170.557895,16.3,902.666667,32.5,18.0,13.400000,964.0,0.0,1.650000,7.800000,NaN
51,1989,1,42.945217,8.200000,15.2,758.895,13.000000,1170.557895,34.0,902.666667,32.5,24.7,24.800000,964.0,0.0,1.330000,4.600000,NaN
52,1990,1,42.945217,22.000000,30.7,758.895,36.700000,1170.557895,56.3,902.666667,32.5,57.5,34.400000,964.0,0.0,1.500000,8.000000,NaN
53,1991,1,42.945217,24.100000,18.5,758.895,21.900000,1170.557895,47.6,902.666667,32.5,50.8,23.600000,964.0,0.0,0.960000,12.383625,NaN
54,1992,1,42.945217,15.000000,28.7,758.895,28.000000,1102.000000,60.4,902.666667,32.5,58.5,28.100000,964.0,0.0,0.900000,12.383625,NaN
55,1993,1,42.945217,25.300000,29.2,1400.000,30.000000,1107.000000,85.8,1200.000000,25.0,59.8,30.600000,964.0,0.0,1.000000,25.600000,NaN
56,1994,1,42.945217,23.100000,28.4,1117.000,31.000000,1198.000000,63.4,890.000000,30.0,57.5,31.300000,1700.0,0.0,1.268571,20.100000,NaN
57,1995,1,32.900000,15.900000,20.7,1064.000,25.400000,1387.000000,55.1,1200.000000,26.4,46.0,29.600000,950.0,0.0,1.070000,19.000000,NaN
58,1996,1,35.100000,19.300000,25.8,733.000,22.400000,1409.000000,53.2,720.000000,23.8,45.3,28.300000,974.0,0.0,1.100000,18.000000,NaN
59,1997,1,37.100000,18.100000,22.4,636.400,24.300000,1274.000000,52.8,902.666667,33.6,47.7,21.800000,560.0,0.0,1.000000,15.400000,NaN

In [54]:
df_new.isna().sum()

Year                0
RM                  0
Winter Wheat     1342
Canola              0
Spring Wheat        0
Mustard          2038
Durum             305
Sunflowers        239
Oats                0
Lentils          1114
Peas              107
Barley              0
Fall Rye            0
Canary Seed       765
Spring Rye        107
Tame Hay            0
Flax                0
Chickpeas       14266
dtype: int64

In [65]:
df_new.fillna(df_new.groupby('RM').mean(), inplace=True)

In [64]:
df_new.isna().sum()

Year                0
RM                  0
Winter Wheat     1342
Canola              0
Spring Wheat        0
Mustard          2038
Durum             305
Sunflowers        239
Oats                0
Lentils          1114
Peas              107
Barley              0
Fall Rye            0
Canary Seed       765
Spring Rye        107
Tame Hay            0
Flax                0
Chickpeas       14159
dtype: int64